{% extends 'base.html' %}

{% block title %} Компания: {{title}} {% endblock %}

{% block information %}
{{ current_lead.company }} | {{ current_lead.name }} | {{ current_lead.phone }} | {{ current_lead.project }}
<a href="{{url_for('logout')}}" class="button-logout">{{ current_user.get_user_name() }} Logout </a>
{% endblock %}

{% block content %}

<!---------------------------------------------------------------------->
{% block lead_information %}

{% endblock lead_information %}

<!---Таблица с сохраненными расчетами------------------------------------>
{% block view_calculations %}
<form action="{{url_for('show_info_lead', alias=current_lead.company)}}" method="POST">

    <table id="my-table">
        <b class="title-final-cost">ИТОГОВЫЕ РАССЧЕТЫ БВЗ</b>
        <tr>
            <th class="button-delete-lead-th">
                <input type="submit" name="button-delete-calc" value="удалить" class="button-delete-lead">
            </th>
            <th>№</th>
            {% for t in title_table_calc_BVZ %}
            <th>{{ t.title }}</th>
            {% endfor %}
        </tr>

        <tbody class="table-result">
            {% for record in value_table_calc_BVZ %}
            <tr>
                <td><input type="checkbox" name="check-lead" id="check-lead" value="{{ record[0] }}"></td>
                <td>{{ value_table_calc_BVZ.index(record)+1 }}</td>
                {% for cell in record[2:-1:] %}
                <td>
                    <a href="{{ url_for('calculation_product', alias='BVZ', calc_ID=record[0]) }}"
                        title="{{ record[-1] }}">
                        {{ cell }}
                    </a>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>

<form action="{{ url_for('pricing') }}" method="POST">
    <button name="button-add-calculation" class="button-accept" value="{{current_lead['id']}}"> Новый расчет </button>
</form>

<!--Блок добавления комментариев к истории общения с лидами-->
<div class="lead-communication">
    <form action="{{ url_for('show_info_lead', alias=current_lead.company) }}" method="post"
        enctype="multipart/form-data">
        <div class="title-comments-description">
            <div class="setting-lead-comments">
                <label for="event-comments">Выберете событие</label>
                <select name="event-comments" id="event-comments">
                    <option value="Комментарий">Комментарий</option>
                    <option value="Телефонный разговор">Телефонный разговор</option>
                    <option value="Ответ клиента">Ответ клиента</option>
                    <option value="Встреча">Встреча</option>
                    <option value="Первый контакт">Первый контакт</option>
                </select>
            </div>
            <div>
                <label for="description"><h4>Описание проекта</h4></label>
            </div>
        </div>
        <div class="comment-save_file">
            <textarea name="comment-for-lead" id="comment-for-lead"></textarea>
            <textarea name="description" id="description" placeholder="Введите описание проекта" 
            {% if description %} disabled {% endif %}>{% if description %} {{description}} {% endif %}</textarea>
        </div>


        <div class="title-comments-description">
            <div class="setting-lead-comments">
                <button type="button" name="button-accept-to-event" class="button-accept" value="button-accept-to-event"
                    onclick="openModalCalc()">
                    Сохранить коментарий
                </button>
            </div>

            <div>
                <button type="submit" name="description" class="button-accept"
                    value="button-accept-description" onclick="reloadPage()" 
                    {% if description %} style="display: none;" {% endif %}>
                    Сохранить описание
                </button>
            </div>
        </div>

        <div id="myModalCalc" class="modalCalc">
            <div class="modal-content-Calc">
                <span class="closeCalc" onclick="closeModalCalc()">&times;</span>

                <label for="input-field-Calc"> Введите описание следующего шага </label>
                <textarea id="input-field-event" name="input-field-event"></textarea>
                <button type="submit" name="button-accept-comments" class="button-accept" value="save-lead-comments"
                    onclick="reloadPage()">
                    Поставить задачу
                </button>
            </div>
        </div>


    </form>

    <!-----Область вывода сохораненных сообщений. История коммуникации с клиентом---->
    <div class="communication-history">

        {% for history in history_lead %}
        <div class="history-list">

            <div class="current-lead-comment">
                <output>{{ history[0]|replace('\n', '<br>')|safe }}</output>
            </div>

            <div class="current-lead-event">
                Следующий шаг:
                <br>
                <output>{{ history[1] }}</output>
            </div>

        </div>
        {%endfor%}

    </div>
</div>


{% endblock view_calculations %}

{% endblock %}