{% extends 'base.html' %}

{% block title %} Компания: {{title}} {% endblock %}

{% block information %}
{{ current_lead.company }} | {{ current_lead.name }} | {{ current_lead.phone }} | {{ current_lead.project }} |
{% if current_lead.deal_win == 1 %}
<div style="color: rgb(0, 0, 0); font-weight: bold; margin-left: 5px"> Теплый клиент, нужно дожать</div>
{% endif %}
{% if current_lead.deal_win == 2 %}
<div style="color: rgb(0, 0, 0); font-weight: bold; margin-left: 5px;"> Сделка выиграна, договор подписан</div>
{% endif %}

<a href="{{url_for('logout')}}" class="button-logout">{{ current_user.get_user_name() }} Logout </a>
{% endblock %}

{% block content %}

<!---------------------------------------------------------------------->
{% block lead_information %}

{% endblock lead_information %}

<!---Таблица с сохраненными расчетами------------------------------------>
{% block view_calculations %}
<form action="{{url_for('show_info_lead', alias=current_lead.company)}}" method="POST">

    <table id="my-table">
        <b class="title-final-cost">ИТОГОВЫЕ РАССЧЕТЫ БВЗ</b>
        <tr>
            <th class="button-delete-lead-th">
                <input type="submit" name="button-delete-calc" value="удалить" class="button-delete-lead">
            </th>
            <th>№</th>
            {% for t in title_table_calc_BVZ %}
            <th>{{ t.title }}</th>
            {% endfor %}
        </tr>

        <tbody class="table-result">
            {% for record in value_table_calc_BVZ %}
            <tr>
                <td><input type="checkbox" name="check-lead" id="check-lead" value="{{ record[0] }}"></td>
                <td>{{ value_table_calc_BVZ.index(record)+1 }}</td>
                {% for cell in record[2:-1:] %}
                <td>
                    <a href="{{ url_for('calculation_product', alias='BVZ', calc_ID=record[0]) }}"
                        title="{{ record[-1] }}">
                        {{ cell }}
                    </a>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>


<div class="title-comments-description">
    <form action="{{ url_for('pricing') }}" method="POST">
        <button name="button-add-calculation" class="button-accept" value="{{current_lead['id']}}">
            Новый расчет</button>
    </form>

    <form action="{{ url_for('show_info_lead', alias=current_lead.company) }}" method="post"
        enctype="multipart/form-data">
        <div class="button-deal-win">
            <button type="submit" name="deal-win" class="button-accept" value="1" onclick="reloadPage()" 
            {% if deal %} style="display: none;" {% endif %}>
                Качественный лид
            </button>
        </div>

        <div class="button-deal-win">
            <button type="submit" name="deal-win" class="button-accept" value="2" onclick="reloadPage()" 
            {% if deal !=1 %} style="display: none;" {% endif %}>
                Сделка выиграна
            </button>
        </div>
    </form>
</div>

<!--Блок добавления комментариев к истории общения с лидами-->
<div class="lead-communication">
    <form action="{{ url_for('show_info_lead', alias=current_lead.company) }}" method="post"
        enctype="multipart/form-data">

        <div class="title-comments-description">

            <div class="comment-for-lead">
                <div class="setting-lead-comments">
                    <label for="event-comments">Выберете событие</label>
                    <select name="event-comments" id="event-comments">
                        <option value="Комментарий">Комментарий</option>
                        <option value="Телефонный разговор">Телефонный разговор</option>
                        <option value="Ответ клиента">Ответ клиента</option>
                        <option value="Встреча">Встреча</option>
                        <option value="Первый контакт">Первый контакт</option>
                    </select>
                </div>
                <textarea class="comment-for-lead_text" name="comment-for-lead" id="comment-for-lead"></textarea>
            </div>

            <div class="file-area">
                <div class="div-file-list">
                    <input type="submit" value="Предложения" name="button-upload-offer" onclick="reloadPage()">
                    <div>
                        <ul class="file-list">
                            {% for offer in files_offer %}
                            <li title="{{ offer }}">{{ offer }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="div-file-list">
                    <input type="submit" value="Чертежи" name="button-upload-layout" onclick="reloadPage()">
                    <div>
                        <ul class="file-list">
                            {% for layout in files_layout %}
                            <li title="{{ layout}}">
                                <a href="{{ url_for('static', filename=project_folder + '/Layout/' + layout) }}" target="_blank">{{ layout }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="div-file-list">
                    <input type="submit" value="Договора" name="button-upload-contract" onclick="reloadPage()">
                    <div>
                        <ul class="file-list">
                            {% for contract in files_contract %}
                            <li title="{{ contract }}">{{ contract }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="comment-for-lead">
                <div class="comment-save_file_title">
                    <label for="description">
                        <h4 style="margin-bottom: 5px;">Описание проекта</h4>
                    </label>
                </div>
                <textarea class="comment-for-lead_text" name="description" id="description"
                    placeholder="Введите описание проекта" {% if description %} disabled {% endif
                    %}>{% if description %} {{description}} {% endif %}</textarea>
            </div>

        </div>

        <div class="panel-buttons-save_file_desc">
            <div class="setting-lead-comments">
                <button type="button" name="button-accept-to-event" class="button-accept" value="button-accept-to-event"
                    onclick="openModalCalc()">
                    Сохранить коментарий
                </button>
            </div>

            <!--Выбрать файл-->
            <div class="choose-file">
                <input type="file" name="file" accept=".jpg, .png, .pdf, .dwg, .doc, .docx" multiple>
            </div>  
            <!---------------->

            <div class="description-button-accept">
                <button type="submit" name="description" class="button-accept" value="button-accept-description"
                    onclick="reloadPage()" {% if description %} style="display: none;" {% endif %}>
                    Сохранить описание
                </button>
                <div></div>
            </div>
        </div>

        <div id="myModalCalc" class="modalCalc">
            <div class="modal-content-Calc">
                <span class="closeCalc" onclick="closeModalCalc()">&times;</span>

                <label for="input-field-Calc"> Введите описание следующего шага </label>
                <textarea id="input-field-event" name="input-field-event"></textarea>
                <button id="current-time-input" type="submit" name="button-accept-comments" class="button-accept"
                    value="save-lead-comments" onclick="getCurrentTime()">
                    Поставить задачу
                </button>
            </div>
        </div>


    </form>

    <!-----Область вывода сохораненных сообщений. История коммуникации с клиентом---->
    <div class="communication-history">

        {% for history in history_lead %}
        <div class="history-list">

            <div class="current-lead-comment">
                <output>{{ history[0]|replace('\n', '<br>')|safe }}</output>
            </div>

            <div class="current-lead-event">
                Следующий шаг:
                <br>
                <output>{{ history[1] }}</output>
            </div>

        </div>
        {%endfor%}

    </div>
</div>


{% endblock view_calculations %}

{% endblock %}